<!DOCTYPE HTML>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }

    </style>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Lobby Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <div class="row">
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-12">
                <div class="well">
                    <h3>
                        <span class="fa fa-user"></span> Local
                    </h3>
                    <p>
                        <strong>username</strong>: <%= user.username %>
                        <br>
                        <strong>password</strong>: <%= user.password %>
                    </p>
                </div>
            </div>
        </div>

        <!-- GAME ROOMS LIST -->
        <div class="row">
            <p id="test"></p>
            <div class="col-md-12 text-center">
                <% if (message) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                <% } %>

                <form action="/lobby" method="post">
                    <label>Create your own</label>
                    <input type="text" class="form-control" name="roomname">
                    <br>
                    <button type="submit" class="btn btn-warning btn-lg">Create Room</button>
                </form>

                <br>

                <a href="/lobby" class="btn btn-default btn-sm">Refresh</a>
                <h4>The rooms will display here.</h4>

                <!-- IF WE WERE DOING EJS HERE -->
                <ul>
                    <% for (var i = 0; i < rooms.length; i++) { %>
                        <li>
                            <a class="btn btn-default btn-sm" href="/room/<%= rooms[i].name %>">
                                <%= rooms[i].name %>: <%= rooms[i].players %> <i>players</i>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "http://localhost:8080/lobby",
                type: "GET",
                dataType: "json",
                data: { objectData: someObject },
                cache: false,
                timeout: 5000,
                success: function(data) {
                    $("#test").append(data);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("error " + textStatus + " " + errorThrown);
                }
            });

            $("li").click(function () {
                io.to(sessionStorage.getItem("socketId")).emit("joinRoom", {
                    roomName: rooms[i].name,
                    playerName: user.username
                });
            });
        });
    </script>
</body>

</html>
