<!DOCTYPE HTML>
<html>

<head>
    <title>Cap-pow! <%= roomname %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link href="../css/login.css" rel="stylesheet">
    <link rel="icon" href="../images/logo.ico">
</head>

<body>
    <script src="../src/room.js"></script>
    <div class="container">

        <div id="logo">
            <img src="../css/images/logo.png"/>
        </div>

        <div class="page-header text-center">
            <h1><span class="fa fa-users"></span> <%= roomname %></h1>
            <a href="/lobby" class="btn btn-default btn-sm">Exit</a>
        </div>
        <div class="col-lg-12 text-center">
            <button id="countdown">
                START THE GAME!
            </button>

            <div class="col-sm-8 text-center">
                <!-- IF WE WERE DOING EJS HERE -->
                <table class="table table-responsive">
                    <thead>
                        <th align="center">Players</th>
                        <th align="center">Total score</th>
                    </thead>
                    <tbody id="players">
                        <% if (players) { %>
                            <% for (var i = 0; i < players.length; i++) { %>
                                <tr>
                                    <td><%= players[i].username %></td>
                                    <!-- Should replace password with their total score -->
                                    <td><%= players[i].pasword %></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
                <hr>
                <a href="/room/<%= roomname %>" style="color: black"><span class="fa fa-refresh"></span> Refresh</a>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 id="count"></h1>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#countdown").prop("disabled", true);

            setInterval(function () {
                $.ajax({
                    url: "/room/" + sessionStorage.getItem("roomName") +  "/data",
                    dataType: "json",
                    cache: false,
                    timeout: 5000,
                    success: function(players) {
                        var str = "";

                        for (var i = 0; i < players.length; i++) {
                            str += "<tr>";
                            str += "<td>" + players[i].username + "</td>";
                            str += "<td>" + players[i].password + "</td>";
                            str += "</tr>";
                        }

                        $("#rooms").html(str);

                        // MAX_PLAYERS = 4
                        //if (players.length === 4) {
                            $("#countdown").prop("disabled", false)
                                .click(function () {
                                    Room.socket.emit("countDown", {
                                        roomName: sessionStorage.getItem("roomName")
                                    });
                                });
                        //}
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("error " + textStatus + " " + errorThrown);
                    }
                });
            }, 2000);
        });
    </script>
</body>
</html>
